name: DemoFilesUpToDate

on:
  push:
    branches:
      - main
    tags: "*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1.11"
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Check demo files
        run: |
          julia --project=docs/ docs/literate_demo.jl;
          if [[ `git status --porcelain` ]] ; then exit 1; else exit 0; fi
